<ion-header>
  <ion-toolbar color="default"></ion-toolbar>
</ion-header>
<ion-content>
  <div class="login-header">
    <img src="./assets/img/iconfinder_taxi_1054959.png" />
    <h2 ion-text color="light">{{'APPNAME' | translate}}</h2>
  </div>
  <div class="ion-padding">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">{{'EMAIL_ADDRESS'| translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="userInfo.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'PASSWORD'| translate}}</ion-label>
        <ion-input  type="password" [(ngModel)]="userInfo.password"></ion-input>
      </ion-item>

    </ion-list>
    <div class="ion-padding">
      <ion-button color="primary"  expand="block" (click)="login()">{{'LOGIN' | translate}}</ion-button>
      <ion-button expand="block" color="medium" fill="clear" (click)="reset()">{{'FORGOT' | translate}}</ion-button>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="isRegisterEnabled">
  <ion-toolbar>
    <ion-button color="dark" fill="clear" expand="block" routerLink="/register">{{'REGISTER' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>